.Button {
    width: 25%;
    height: 100%;
    font-size: 20pt;
    background-color:lightsteelblue;
    outline: none;
    border: 1px solid transparent;
    transition: all .2s;
}

.Button:hover {
    background-color: darkblue;
    color: white;

}

.Button:active {
    transform: scale (.95);
}

.Button-primary {
    color: rebeccapurple;
}

.Button-operator {
    color: orange;
}

.Button-large {
    color:white;
    width:50%;
}

.Button-btmLeft {
    border-bottom-left-radius: 10px;
}

.Button-btmRight {
    border-bottom-right-radius: 10px;
}
    
